<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vahan Chalak</title>
    <link rel="shortcut icon" href="/Images/Logo/Logo.png" type="image/x-icon">
    <!-- FontAwesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- flatpickr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <!-- flatpickr JS -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <!-- StyleSheets -->
    <link rel="stylesheet" href="/src/output.css">
    <link rel="stylesheet" href="/styles/NumberInput.css">
</head>

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
<link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">

<body>
    <div class="main min-h-screen flex justify-center items-center bg-cover bg-center py-5"
        style="background-image: url(/Images/Driver/FormBGPic.png);">
        <!-- BG Video -->
        <video autoplay muted loop id="myVideo" class="hidden lg:block lg:fixed top-0 left-0 min-h-full min-w-full">
            <source src="/Images/Driver/FormBG.mp4" type="video/mp4">
        </video>
        <div
            class="form-container w-[90vw] min-h-[80vh] md:w-[70vw] bg-white z-10 relative p-3 flex lg:flex-row flex-col">
            <div class="form-image w-full min-h-1/2 lg:w-1/2 lg:min-h-full bg-center bg-cover bg-no-repeat"
                style="background-image: url(/Images/User/Passenger-Registration.jpg);">
            </div>
            <div class="form flex flex-col items-center w-full min-h-1/2 lg:w-1/2 lg:min-h-full py-10 px-10 gap-5">
                <h1 class="font-archivoBlack text-2xl text-themeColorOne">Join Us</h1>
                <!-- Personal Form -->
                <form action="" class="Personal self-start flex flex-col w-full gap-5">
                    <div class="inputFields">
                        <!-- FullName -->
                        <div class="fullname lg:flex w-full gap-2 relative">
                            <input type="text" name="DriverFName" placeholder="First Name"
                                class="outline-none border-b-2 border-b-black py-1 w-full lg:w-1/2 ">
                            <input type="text" name="DriverLName" placeholder="Last Name"
                                class="outline-none border-b-2 border-b-black py-1 lg:w-1/2 w-full ">
                        </div>
                        <!-- HTML IS GENERATED BY /scripts/InputFieldDriverRegistration.js -->
                        <!-- Email -->
                        <!-- Date Of Birth -->
                        <!-- Phone Number -->
                        <!-- Password -->
                    </div>
                    <div class="buttons self-center flex justify-center items-center gap-5">
                        <button class="bg-themeColorOne w-fit  px-5 py-2 rounded-3xl">Get OTP</button>
                        <a href="UserHomePage.html" class="bg-themeColorOne w-fit px-5 py-2 rounded-3xl">Home
                        </a>
                    </div>
                    <input type="number" name="DriverOTP" placeholder="Enter OTP"
                        class="outline-none border-b-2 border-b-black py-1 w-full" id="DriverOTP">
                    <button type="submit" class="bg-themeColorOne w-fit self-center px-5 py-2 rounded-3xl submit">Submit
                        OTP</button>
                    <a href="UserLogin.html" class=" text-themeColorOne self-center font-poppins">Already a
                        Member?</a>
                </form>
            </div>
        </div>

    </div>
</body>
<script>
    //Declaring Input Field
    class InputField {

        constructor(id, name, placeholder, icon, type, label = "") {
            this.id = id
            this.name = name
            this.placeholder = placeholder
            this.icon = icon
            this.type = type
            this.label = label
        }
    }

    const PersonalInputForm = document.querySelector('form.Personal .inputFields')
    const DocumentInputForm = document.querySelector('form.Documents .inputFields')

    // function to generate html
    function generateInputField(id, name, placeholder, icon, type, container, label) {
        return (
            container.innerHTML = container.innerHTML + `
                <div class="${id} relative">
                    <input type="${type}" name="${name}" placeholder="${placeholder}"
                        class="outline-none border-b-2 border-b-black py-1 w-full"
                        id="${id}">
                    <i class="${icon} absolute bottom-2 right-4 text-themeColorOne"></i>
                    <label for="${id}" class="text-gray-500 font-robotoCondensed">${label}</label>
                </div>
    `
        )
    }

    //Database of Different Personal Input Fields
    const PersonalInputFields = [
        new InputField("EmailUser", "EmailUser", "Email", "fa-solid fa-envelope", "email"),
        new InputField("DOBUser", "DOBUser", "Date of Birth", "fa-solid fa-calendar-days", "date"),
        new InputField("PhoneUser", "PhoneUser", "Phone Number", "fa-solid fa-phone", "number"),
        new InputField("PasswordUser", "PasswordUser", "Password", "fa-solid fa-lock", "password"),
    ]
    PersonalInputFields.forEach(InputField => {
        generateInputField(InputField.id, InputField.name, InputField.placeholder, InputField.icon, InputField.type, PersonalInputForm, '')
    })











    // flatpickr
    flatpickr("#DOBUser", {
        dateFormat: "d.m.Y",
        maxDate: "today",
        minDate: "01-01-1950",
    })


    let OTPButton = document.querySelector('form.Personal button.submit')
    OTPButton.addEventListener("click", (e) => {
        e.preventDefault()
        document.querySelector('form.Personal').style.display = "none"
        document.querySelector('form.Documents').style.display = "flex"
    })
</script>

</html>